.bth-group {
  border-radius: 4px;
  overflow: hidden;
}
.bth-group button {
  width: 100%;
  border-radius: unset;
}
.card-footer a {
  transition: 0.4s;
}
.card-footer a:hover {
  color: red !important;
}
.card-body .imge_preview {
  background: #f1f2f3;
  height: 500px;
  border-radius: 4px;
  overflow: hidden;
}
.card-body .imge_preview img{
    object-fit: fill;
}

